{% comment %} Version: 1.3.3 {% endcomment %}

{% comment %}
  ---------------------------------------------------------
  Copyright © 2024 Sternify. All rights reserved.
  Any unauthorized reproduction, alteration, or distribution
  of this code, in part or in whole, is expressly forbidden.
  Violators will be subject to legal prosecution to the maximum
  extent permitted by law. For permissions or inquiries,
  please contact us in our discord server: https://discord.gg/NHHCEPhsG8
  ---------------------------------------------------------
{% endcomment %}

<script
  src="https://cdn.shopify.com/s/files/1/0799/5880/2740/files/verifier.js?v=1717092340"
  data-section-id="{{ section.id }}"
  defer
></script>

<div class="st_not-found"></div>

{%- assign font_picker = section.settings.font_picker -%}
{% style %}
  {{ font_picker | font_face }}
  .st_table-wrapper * {
    font-family: {{ font_picker.family }}, {{ font_picker.fallback_families }};
  }
{% endstyle %}

<style>
  .st_table-wrapper div:empty {
    display: unset;
  }
  /*-_- -_- -_- Desktop -_- -_- -_- */
  .st_Table-TopTitle {
    --Main-Color: hsl(0deg 0% 0%);
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--Main-Color);
    font-weight: 600;
    font-style: italic;
    font-size: {{ section.settings.header_size }}px;
    line-height: normal;
    text-align: center;
    text-align: center;
    word-break: break-word;
  }
  .st_table-wrapper {
    max-width: 110rem;
    margin: 0 auto;
    padding-inline: 20px;
    margin-top: {{ section.settings.margin_top }}px;
    margin-bottom: {{ section.settings.margin_bottom }}px;
  }
  .st_Table {
    --Padding-bottom: 15px;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: var(--Padding-bottom);
    padding-top: 35px;
  }
  .st_Table-Row {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
  }
  .st_Table-Box {
    --Back-Color: {{ section.settings.table_color }};
    --Border-Color: {{ section.settings.border_color }};
    --Border-Size: {{ section.settings.border_thickness }}px;
    --Border-Style: solid;
    --Border-Radius: {{ section.settings.border_radius }}px;
    --Padding: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--Padding);
    background: var(--Back-Color);
    font-family: Poppins;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    line-height: normal;
    text-align: center;
    word-break: break-word;
  }
  .st_Table-Box:nth-child(1) {
    width: 30%;
    flex-grow: 1;
  }
  .st_Table-Box:nth-child(2) {
    width: 22%;
    flex-grow: 1;
    max-width: 28%;
  }
  .st_Table-Box:nth-child(3) {
    width: 24%;
  }
  .st_Table-Box:nth-child(4) {
    width: 24%;
  }
  .st_Table-Icon {
    position: relative;
    height: 32px;
    aspect-ratio: 1;
    object-fit: contain;
  }
  .st_Table-Title {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: unset;
  }

  /*._. top-Row ._.*/
  .st_Table-Row:nth-child(1) .st_Table-Box:nth-child(1) {
    pointer-events: none;
    opacity: 0;
  }
  .st_Table-Row:nth-child(1) .st_Table-Box:nth-child(2) {
    --Back-Color: {{ section.settings.highlighted_color }};
  }
  .st_Table-Row:nth-child(1) .st_Table-Box:nth-child(3) {
    --Back-Color: transparent;
  }
  .st_Table-Row:nth-child(1) .st_Table-Box:nth-child(4) {
    --Back-Color: transparent;
  }

  /*._. Active-Column ._.*/
  .st_Table-Row .st_Table-Box:nth-child(2) {
    --Back-Color: {{ section.settings.highlighted_color }};
    padding-top: calc(var(--Padding) + 1px);
    margin-top: -1px;
    {% comment %} z-index: 10; {% endcomment %}
    {% comment %} animation: Active-Column-Animation 1s linear 0s infinite alternate forwards; {% endcomment %}
  }
  .st_Table-Row .st_Table-Box:nth-child(2) > .st_Table-Icon,
  .st_Table-Row .st_Table-Box:nth-child(2) > .st_Table-Title {
    animation: Active-ColumnInside-Animation 1s linear 0s infinite alternate forwards;
  }
  .st_Table-Row:last-child .st_Table-Box:nth-child(2)::after {
    content: '';
    position: absolute;
    transform: translate(-0%, -0%);
    width: 100%;
    height: calc(var(--Padding-bottom) + 1px);
    left: 0%;
    top: calc(100% - 1px);
    background: inherit;

    border-bottom-left-radius: var(--Border-Radius);
    border-bottom-right-radius: var(--Border-Radius);
  }
  @keyframes Active-Column-Animation {
    100% {
      transform: scale(1.05);
    }
  }
  @keyframes Active-ColumnInside-Animation {
    100% {
      transform: scale(0.95);
    }
  }

  /*._. Border-Color ._.*/
  .st_Table-Row .st_Table-Box {
    border-left: var(--Border-Style) var(--Border-Size) var(--Border-Color);
    border-top: var(--Border-Style) var(--Border-Size) var(--Border-Color);
  }
  .st_Table-Row:last-child .st_Table-Box {
    border-bottom: var(--Border-Style) var(--Border-Size) var(--Border-Color);
  }
  .st_Table-Row .st_Table-Box:nth-child(3) {
    border-left: none;
  }
  .st_Table-Row .st_Table-Box:last-child {
    border-right: var(--Border-Style) var(--Border-Size) var(--Border-Color);
  }
  .st_Table-Row .st_Table-Box:nth-child(2) {
    border: none !important;
    border-top: var(--Border-Style) var(--Border-Size) hsl(0deg 0% 0%);
  }
  .st_Table-Row:nth-child(1) .st_Table-Box {
    border: none;
  }

  /*._. Border-Radius ._.*/
  .st_Table-Row:first-child .st_Table-Box:nth-child(2) {
    border-top-left-radius: var(--Border-Radius);
    border-top-right-radius: var(--Border-Radius);
  }
  .st_Table-Row:nth-child(2) .st_Table-Box:first-child {
    border-top-left-radius: var(--Border-Radius);
  }
  .st_Table-Row:nth-child(2) .st_Table-Box:last-child {
    border-top-right-radius: var(--Border-Radius);
  }
  .st_Table-Row:last-child .st_Table-Box:first-child {
    border-bottom-left-radius: var(--Border-Radius);
  }
  .st_Table-Row:last-child .st_Table-Box:last-child {
    border-bottom-right-radius: var(--Border-Radius);
  }

  /*._. Colors ._.*/
  .st_Table-Row:first-child .st_Table-Box:nth-child(2) .st_Table-Title {
    color: {{ section.settings.highlighted_text_color }};
  }

  .st_Table-Row:nth-child(1) .st_Table-Box:nth-child(n+3) .st_Table-Title {
    color: {{ section.settings.others_text_color }};
  }

  .st_Table-Row:nth-child(n+2) .st_Table-Box:nth-child(1) {
    color: {{  section.settings.benefit_color }}
  }

  .st_Table-Row:nth-child(n+2) .st_Table-Box:nth-child(2) svg * {
    fill: {{  section.settings.highlighted_icon_color }}
  }

  .st_Table-Row:nth-child(n+2) .st_Table-Box:nth-child(n+3) svg * {
    fill: {{  section.settings.others_icon_color }}
  }

  /*-_- -_- -_- Tablet -_- -_- -_-*/
  @media (max-width: 650px) {
    .st_Table-TopTitle {
      font-size: {{ section.settings.header_size | times: 0.6 | round }}px;
    }
    .st_Table-Box {
      --Padding: 10px;
      font-size: 10px;
    }
    .st_Table-Icon {
      height: 20px;
    }
  }

  .st_Table-Column-Image {
    aspect-ratio: 2/1;
    width: 180px;
  }

  .st_Table-Column-Image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
</style>

{% assign number_of_columns = section.settings.columns_number %}

<div class="st_wrapper st_table-wrapper st_check-section--{{ section.id }}">
  <div class="st_Table-TopTitle">{{ section.settings.header_text }}</div>
  <div class="st_Table">
    <div class="st_Table-Row">
      <div class="st_Table-Box"></div>
      <div class="st_Table-Box">
        {% if section.settings.column_1_image -%}
          <div class="st_Table-Column-Image">
            <img src="{{ section.settings.column_1_image | image_url: width: "200" }}">
          </div>
        {% else %}
          <div class="st_Table-Title">{{ section.settings.column_1_text }}</div>
        {% endif %}
      </div>
      <div class="st_Table-Box">
        <div class="st_Table-Title">{{ section.settings.column_2_text }}</div>
      </div>
      {% if number_of_columns == '3' %}
        <div class="st_Table-Box">
          <div class="st_Table-Title">{{ section.settings.column_3_text }}</div>
        </div>
      {% endif %}
    </div>
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'Reihe' -%}
          <div class="st_Table-Row">
            <div class="st_Table-Box">
              <div class="st_Table-Title">{{ block.settings.reihe_text }}</div>
            </div>
            <div class="st_Table-Box">
              {% if block.settings.compare_1 == 'check' %}
                <svg
                  class="st_Table-Icon"
                  width="32"
                  height="32"
                  viewBox="0 0 32 32"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M16 0C7.163 0 0 7.163 0 16C0 24.837 7.163 32 16 32C24.836 32 32 24.836 32 16C32 7.163 24.836 0 16 0ZM16 30C8.268 30 2 23.732 2 16C2 8.268 8.268 2 16 2C23.732 2 30 8.268 30 16C30 23.732 23.732 30 16 30Z"
                       />
                  <path
                      d="M23.3 10.393L13.012 20.589L8.731 16.393C8.337 16.002 7.697 16.002 7.303 16.393C6.908 16.784 6.908 17.417 7.303 17.807L12.302 22.706C12.712 23.067 13.325 23.107 13.73 22.706L24.729 11.807C25.123 11.417 25.123 10.783 24.729 10.393C24.334 10.003 23.695 10.003 23.3 10.393Z"
                       />
                </svg>
              {% else %}
                <svg
                  class="st_Table-Icon"
                  width="32"
                  height="32"
                  viewBox="0 0 32 32"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                      d="M8.70703 7.29297L7.29297 8.70703L14.5859 16L7.29297 23.293L8.70703 24.707L16 17.4141L23.293 24.707L24.707 23.293L17.4141 16L24.707 8.70703L23.293 7.29297L16 14.5859L8.70703 7.29297Z" />
                </svg>
              {% endif %}
            </div>
            <div class="st_Table-Box">
              {% if block.settings.compare_2 == 'check' %}
                <svg
                  class="st_Table-Icon"
                  width="32"
                  height="32"
                  viewBox="0 0 32 32"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M16 0C7.163 0 0 7.163 0 16C0 24.837 7.163 32 16 32C24.836 32 32 24.836 32 16C32 7.163 24.836 0 16 0ZM16 30C8.268 30 2 23.732 2 16C2 8.268 8.268 2 16 2C23.732 2 30 8.268 30 16C30 23.732 23.732 30 16 30Z"
                      />
                  <path
                      d="M23.3 10.393L13.012 20.589L8.731 16.393C8.337 16.002 7.697 16.002 7.303 16.393C6.908 16.784 6.908 17.417 7.303 17.807L12.302 22.706C12.712 23.067 13.325 23.107 13.73 22.706L24.729 11.807C25.123 11.417 25.123 10.783 24.729 10.393C24.334 10.003 23.695 10.003 23.3 10.393Z"
                      />
                </svg>
              {% else %}
                <svg
                  class="st_Table-Icon"
                  width="32"
                  height="32"
                  viewBox="0 0 32 32"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                      d="M8.70703 7.29297L7.29297 8.70703L14.5859 16L7.29297 23.293L8.70703 24.707L16 17.4141L23.293 24.707L24.707 23.293L17.4141 16L24.707 8.70703L23.293 7.29297L16 14.5859L8.70703 7.29297Z" />
                </svg>
              {% endif %}
            </div>
            {% if number_of_columns == '3' %}
              <div class="st_Table-Box">
                {% if block.settings.compare_3 == 'check' %}
                  <svg
                    class="st_Table-Icon"
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path d="M16 0C7.163 0 0 7.163 0 16C0 24.837 7.163 32 16 32C24.836 32 32 24.836 32 16C32 7.163 24.836 0 16 0ZM16 30C8.268 30 2 23.732 2 16C2 8.268 8.268 2 16 2C23.732 2 30 8.268 30 16C30 23.732 23.732 30 16 30Z"
                      />
                    <path
                        d="M23.3 10.393L13.012 20.589L8.731 16.393C8.337 16.002 7.697 16.002 7.303 16.393C6.908 16.784 6.908 17.417 7.303 17.807L12.302 22.706C12.712 23.067 13.325 23.107 13.73 22.706L24.729 11.807C25.123 11.417 25.123 10.783 24.729 10.393C24.334 10.003 23.695 10.003 23.3 10.393Z"
                      />
                  </svg>
                {% else %}
                  <svg
                    class="st_Table-Icon"
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path fill="var(--Main-Color)"
                        d="M8.70703 7.29297L7.29297 8.70703L14.5859 16L7.29297 23.293L8.70703 24.707L16 17.4141L23.293 24.707L24.707 23.293L17.4141 16L24.707 8.70703L23.293 7.29297L16 14.5859L8.70703 7.29297Z" />
                  </svg>
                {% endif %}
              </div>
            {% endif %}
          </div>
      {% endcase %}
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "💫: Table",
  "class": "section",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "⚠️ Wichtig ⚠️",
      "info": "Bitte beachte dass Sternify [App Einbettung](https://www.sternify.com/app-extentions) aktiviert sind."
    },
    {
      "type": "select",
      "id": "columns_number",
      "label": "Anzahl der Spalten",
      "options": [
        {
          "value": "2",
          "label": "2 Spalten"
        },
        {
          "value": "3",
          "label": "3 Spalten"
        }
      ],
      "default": "3",
      "info": "Anzahl der Spalten auswählen"
    },
    {
      "type": "header",
      "content": "Abstände"
    },
    {
      "type": "range",
      "id": "margin_top",
      "label": "Abstand nach oben",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "label": "Abstand nach unten",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 0
    },
    {
      "type": "header",
      "content": "Allgemeine Einstellungen"
    },
    {
      "type": "font_picker",
      "id": "font_picker",
      "label": "Font Auswählen",
      "default": "poppins_n4"
    },
    {
      "type": "text",
      "id": "header_text",
      "label": "Header Text",
      "default": "Sternify vs. Standard",
      "placeholder": "Text für Header"
    },
    {
      "type": "range",
      "id": "header_size",
      "label": "Header Text Größe",
      "min": 10,
      "max": 60,
      "step": 1,
      "default": 52
    },
    {
      "type": "header",
      "content": "Spalten Einstellungen "
    },
    {
      "type": "text",
      "id": "column_1_text",
      "label": "Spalte 1 Text",
      "default": "Sternify Hairstyler 2.0",
      "placeholder": "Spalte 1 Text"
    },
    {
      "type": "image_picker",
      "id": "column_1_image",
      "label": "Logo (Optional)",
      "info": "Hier empfehlen wir ein transparentes Logo zu verwenden."
    },
    {
      "type": "text",
      "id": "column_2_text",
      "label": "Spalte 2 Text",
      "default": "Original Hairstyler",
      "placeholder": "Spalte 2 Text"
    },
    {
      "type": "text",
      "id": "column_3_text",
      "label": "Spalte 3 Text",
      "default": "Standard Hairstyler",
      "placeholder": "Spalte 3 Text",
      "info": "Diese Einstellung ist nur bei 3 Spalten verfügbar"
    },
    {
      "type": "header",
      "content": "Farben Einstellungen 🎨"
    },
    {
      "type": "color",
      "id": "highlighted_color",
      "label": "Highlighted Farbe",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "highlighted_text_color",
      "label": "Highlighted Text Farbe",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "highlighted_icon_color",
      "label": "Highlighted - Icon Farbe",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "others_text_color",
      "label": "Andere - Text Farbe",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "others_icon_color",
      "label": "Andere - Icon Farbe",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "benefit_color",
      "label": "Vorteile Text Farbe",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "table_color",
      "label": "Tabellen Farbe",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "border_color",
      "label": "Border Farbe",
      "default": "#D7D8D5"
    },
    {
      "type": "range",
      "id": "border_thickness",
      "label": "Border Dicke",
      "min": 0,
      "max": 10,
      "step": 1,
      "default": 2
    },
    {
      "type": "range",
      "id": "border_radius",
      "label": "Ecken Rundung",
      "min": 0,
      "max": 30,
      "step": 1,
      "default": 10
    }
  ],
  "blocks": [
    {
      "name": "Reihe",
      "type": "Reihe",
      "settings": [
        {
          "type": "text",
          "id": "reihe_text",
          "label": "Header",
          "default": "Feature 1",
          "placeholder": "Text eingeben"
        },
        {
          "type": "select",
          "id": "compare_1",
          "label": "Vergleich 1",
          "options": [
            {
              "value": "check",
              "label": "Häkchen"
            },
            {
              "value": "cross",
              "label": "Kreuz"
            }
          ],
          "default": "check"
        },
        {
          "type": "select",
          "id": "compare_2",
          "label": "Vergleich 2",
          "options": [
            {
              "value": "check",
              "label": "Häkchen"
            },
            {
              "value": "cross",
              "label": "Kreuz"
            }
          ],
          "default": "check"
        },
        {
          "type": "select",
          "id": "compare_3",
          "label": "Vergleich 3",
          "options": [
            {
              "value": "check",
              "label": "Häkchen"
            },
            {
              "value": "cross",
              "label": "Kreuz"
            }
          ],
          "default": "cross",
          "info": "Hinweis: Diese Einstellung ist nur bei 3 Spalten verfügbar"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "💫: Table",
      "blocks": [
        {
          "type": "Reihe"
        },
        {
          "type": "Reihe"
        },
        {
          "type": "Reihe"
        },
        {
          "type": "Reihe"
        }
      ]
    }
  ]
}
{% endschema %}
